---
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Alex Marín</title>
		<meta name="description" content="alex marín personal page" />
		<meta
			name="keywords"
			content="Alex Marín, personal website, portfolio, developer"
		/>
		<meta name="author" content="Alex Marín" />
		<meta name="robots" content="index, follow" />

		<meta property="og:title" content="Alex Marín" />
		<meta property="og:description" content="Alex Marín personal page" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://mariinkys.dev" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>

		<link rel="canonical" href="https://mariinkys.dev" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />

		<script is:inline type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Person",
				"name": "Alex Marín",
				"url": "https://mariinkys.dev",
				"sameAs": ["https://www.linkedin.com/in/alexmarinliebana/"]
			}
		</script>
	</head>
	<body
		class="bg-fixed bg-gradient-to-br
         from-blue-50 via-white to-indigo-100
    	dark:from-gray-950 dark:via-gray-900 dark:to-gray-800
         text-gray-900 dark:text-gray-100
         transition-colors duration-300"
	>
		<Header />
		<div class="p-4">
			<slot />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Montserrat", sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
	}
</style>
